options:
  vnetName:
    description:
      VnetName to be passed via cloud-integration.
      This config must be set at deployment and cannot be changed later.
    type: string
    default: 'juju-internal-network'
  vnetResourceGroup:
    description:
      Vnet's resource group to be passed via cloud-integration.
      This config must be set at deployment and cannot be changed later.
    type: string
    default: ''
  subnetName:
    description:
      Vnet's subnet to be used by azure cloud-integration.
      This config must be set at deployment and cannot be changed later.
    type: string
    default: 'juju-internal-subnet'
  vnetSecurityGroup:
    description:
      Default network sec group (NSG) to be used by azure cloud integration.
      This config must be set at deployment and cannot be changed later.
    type: string
    default: 'juju-internal-nsg'
  credentials:
    description: |
      The base64-encoded JSON credentials data, which must include the 'application-id',
      'application-password', and the 'subscription-id'. Optionally can include managed-identity (default true) 
      and tenant-id (default '').
      These values can be retrieved from Juju using the 'credentials' command and extracting the value of the 'details'
      key for the appropriate credential. For example, using 'jq', replace '<credential-name>'
      in the following:

          juju credentials --format=json --show-secrets azure | jq '.["local-credentials"]["azure"]["cloud-credentials"]["<credential-name>"]["details"]'

      This can be used from bundles with 'include-base64://' (see
      https://jujucharms.com/docs/stable/charms-bundles#setting-charm-configurations-options-in-a-bundle),
      or from the command-line with 'juju config aws credentials="$(base64 /path/to/file)"'.

      This option will take precedence over the individual config options, if set.

      It is strongly recommended that you use 'juju trust' instead, if available.
      since config values can be read by anyone with read access to the model.
    type: string
    default: ''
  install_sources:
    description: >
      List of extra apt sources, per charm-helpers standard
      format (a yaml list of strings encoded as a string). Each source
      may be either a line that can be added directly to
      sources.list(5), or in the form ppa:<user>/<ppa-name> for adding
      Personal Package Archives, or a distribution component to enable.
    type: string
    default: |
      - deb https://packages.microsoft.com/repos/azure-cli/ {series} main
  install_keys:
    description: >
      List of signing keys for install_sources package sources, per
      charmhelpers standard format (a yaml list of strings encoded as
      a string). The keys should be the full ASCII armoured GPG public
      keys. While GPG key ids are also supported and looked up on a
      keyserver, operators should be aware that this mechanism is
      insecure. null can be used if a standard package signing key is
      used that will already be installed on the machine, and for PPA
      sources where the package signing key is securely retrieved from
      Launchpad.
    type: string
    default: |
      - |
        -----BEGIN PGP PUBLIC KEY BLOCK-----
        Version: GnuPG v1.4.7 (GNU/Linux)

        mQENBFYxWIwBCADAKoZhZlJxGNGWzqV+1OG1xiQeoowKhssGAKvd+buXCGISZJwT
        LXZqIcIiLP7pqdcZWtE9bSc7yBY2MalDp9Liu0KekywQ6VVX1T72NPf5Ev6x6DLV
        7aVWsCzUAF+eb7DC9fPuFLEdxmOEYoPjzrQ7cCnSV4JQxAqhU4T6OjbvRazGl3ag
        OeizPXmRljMtUUttHQZnRhtlzkmwIrUivbfFPD+fEoHJ1+uIdfOzZX8/oKHKLe2j
        H632kvsNzJFlROVvGLYAk2WRcLu+RjjggixhwiB+Mu/A8Tf4V6b+YppS44q8EvVr
        M+QvY7LNSOffSO6Slsy9oisGTdfE39nC7pVRABEBAAG0N01pY3Jvc29mdCAoUmVs
        ZWFzZSBzaWduaW5nKSA8Z3Bnc2VjdXJpdHlAbWljcm9zb2Z0LmNvbT6JATUEEwEC
        AB8FAlYxWIwCGwMGCwkIBwMCBBUCCAMDFgIBAh4BAheAAAoJEOs+lK2+EinPGpsH
        /32vKy29Hg51H9dfFJMx0/a/F+5vKeCeVqimvyTM04C+XENNuSbYZ3eRPHGHFLqe
        MNGxsfb7C7ZxEeW7J/vSzRgHxm7ZvESisUYRFq2sgkJ+HFERNrqfci45bdhmrUsy
        7SWw9ybxdFOkuQoyKD3tBmiGfONQMlBaOMWdAsic965rvJsd5zYaZZFI1UwTkFXV
        KJt3bp3Ngn1vEYXwijGTa+FXz6GLHueJwF0I7ug34DgUkAFvAs8Hacr2DRYxL5RJ
        XdNgj4Jd2/g6T9InmWT0hASljur+dJnzNiNCkbn9KbX7J/qK1IbR8y560yRmFsU+
        NdCFTW7wY0Fb1fWJ+/KTsC4=
        =J6gs
        -----END PGP PUBLIC KEY BLOCK-----
